div.app.window-app.custom-narrative {
    .window-content {
        background: black;
        color: white;

        input[type="text"],
        input[type="number"],
        select,
        textarea,
        option {
            color: white;
            resize: none;
            background-color: transparent;
            box-shadow: none;

            border: none;

            &:focus,
            &:hover {
                border: 1px solid gray;
                box-shadow: 0 0 6px gray;
                outline: none;
                background-color: rgba(119, 119, 119, 0.199);
            }
        }

        div.checkerBox {
            input[type="checkbox"] {
                opacity: 0;
                width: 1.5rem;
                height: 1.5rem;
                cursor: pointer;

            }

            span.checker {
                position: relative;
                display: inline-block;
                pointer-events: none;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                left: -1.8rem;
                background-color: gray;
                border: 4px solid rgb(255, 255, 255);
                transition: 1s;
            }

            &.checked {
                span.checker {

                    background-color: black;
                    border: 4px solid white;
                }
            }
        }



        header {
            text-align: center;



            h1 {
                input[type="text"] {
                    padding: 8px;
                    min-height: 40px;
                }

            }


            h3 {
                overflow: hidden;
                max-height: 1px;
                transition: 0.3s;
            }

            &:hover {
                h3 {
                    max-height: 60px
                }
            }
        }

        nav {
            a[data-tab] {

                border: 1px solid gray;
                width: 100%;

                &.active,
                &:hover {
                    background-color: rgb(46, 31, 31);
                    text-shadow: none;
                }
            }
        }

        section.sheet-body {
            .tab {

                a,
                i {
                    width: 20px;
                    height: 20px;
                    max-width: 20px;
                    font-size: 18px;
                    padding-left: 2px;
                    background-color: rgba(128, 128, 128, 0.466);
                    border-radius: 50%;
                    cursor: pointer;

                    &:hover {
                        text-shadow: none;
                    }
                }

                .narrative-list-add {
                    position: relative;
                    //top: -40px;
                }

                h1,
                h2,
                h3,
                h4 {
                    border: none;
                    border-bottom: 2px solid white;
                    text-align: center;
                    margin-top: 15px;
                }

                &>div {
                    padding: 5px 20px;

                    .forceLink {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);

                        &>:nth-child(-n+3) {
                            text-align: center;
                            background-color: rgb(85, 90, 139);
                        }

                        &>:nth-child(7n),
                        &>:nth-child(8n),
                        &>:nth-child(9n) {
                            background-color: rgba(145, 150, 196, 0.342);
                        }

                    }
                }

                div.inspiredWords {
                    ol {


                        li {
                            display: inline-flex;
                            padding: 1px;
                            margin: 0px 0px;

                            &::after {
                                content: "/"
                            }
                        }
                    }

                }

                li[data-link-id] {
                    h4 {
                        display: flex;
                        justify-content: space-around;
                    }

                }

                div#masterRelation {
                    display: flex;
                    justify-content: center;
                }

                div.citation {
                    textarea {
                        border-left: 5px solid gray
                    }
                }

                div.actor-archetype {
                    position: absolute;
                    transform-origin: bottom left;
                    text-transform: uppercase;
                    font-size: 3em;
                    bottom: 0;
                    background-color: black;
                    border-radius: 0px 70px 0px 0px;
                    transform: rotate(-90deg);
                    width: fit-content;
                    padding-right: 160px;
                }

                div.image-section {
                    img {
                        margin-left: 5%;
                        width: 90%;
                    }

                    .rollResults {
                        justify-content: space-around;

                        i {
                            font-size: 42px;
                        }



                        #d12normal {
                            color: rgb(200, 200, 255);

                        }

                        #d12advantage {
                            color: rgb(151, 255, 151);

                        }

                        #d12disadvantage {
                            color: rgb(255, 137, 137);

                        }

                    }
                }

                ul.allItems {
                    li {
                        cursor: pointer;
                        padding-right: 20px;
                        transition: 0.2s;
                        background: transparent;

                        &:hover {
                            background: rgba(128, 128, 128, 0.192);
                        }

                        h5 {
                            margin: unset;
                        }
                    }
                }

                p[data-narrative="textWithBlankPlayer"] {
                    input {
                        width: unset;
                    }
                }

                .sortableInventory {

                    li {
                        justify-content: space-between;
                        list-style: none;
                        cursor: pointer;
                        text-align: center;
                        padding: 5px;
                        background-color: rgba(0, 128, 0, 0.178);

                        &.item {
                            background-color: rgba(128, 0, 0, 0.178);

                        }
                    }
                }

                div.inventory-roll {
                    position: absolute;
                    top: 0%;
                    width: 20%;
                    height: 100%;
                    right: -22%;
                    padding: 0;


                    #jetInventaire {
                        position: relative;
                        top: 5%;
                        left: -20%;
                        text-shadow: 0px 0px 5px black;
                        background-color: gray;
                    }

                    ol {
                        height: 100%;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        li.slot {
                            max-height: 2rem;
                            height: 2rem;
                            max-width: 2rem;
                            list-style: none;
                            text-align: center;
                            padding: 5px;
                            box-shadow: 0px 0px 35px rgb(128, 26, 0)inset;
                            background-color: black;
                            opacity: 0.6;
                            width: 100%;
                            background-size: auto 100%;
                            background-repeat: no-repeat;
                            position: relative;
                            left: -10%;
                            cursor: not-allowed;
                            transition: 0.2s;
                            transition-delay: 0.6s;
                            margin-bottom: 0.5rem;

                            &>* {
                                font-size: 2px;
                                opacity: 0;
                                transition: inherit;
                                text-shadow: 0px 0px 10px black,
                                    0px 0px 5px black, 0px 0px 2px black
                            }

                            a {
                                pointer-events: none;

                            }

                            &.available {
                                cursor: pointer;
                                opacity: 1;
                                display: block;

                                box-shadow: none;

                                a {
                                    pointer-events: all;
                                }


                            }

                            .description {
                                display: none
                            }

                            &:hover {
                                max-height: 5rem;
                                height: 5rem;
                                max-width: 5rem;
                                width: 5rem;
                                background-position: center;
                                transition-delay: 0.6s;

                                * {
                                    font-size: unset;
                                    opacity: 1;
                                }

                                .description {
                                    display: unset;
                                }

                            }
                        }
                    }

                }
            }
        }
    }
}