<div class="flexrow item-power">

    <div class="details">
        <h3>{{item.name}}</h3>

        <div class="power-text">
            <h6>ajouter un texte
                <i class="fas fa-add add-power-text"></i>
            </h6>
            {{#each item.flags.world.powerStat.texts as |text index|}}
            <input type="text" data-index="{{index}}" class="power-text"
                value="{{text}}">
            {{/each}}
        </div>
        <div class="power-score">

        </div>

    </div>
    <div class="item-image">
        <img src="{{item.img}}">

    </div>
</div>